<a href="https://colab.research.google.com/github/poduguvenu/Python-Concepts/blob/main/python_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Strings - Interesting Features

In [5]:
x = 7
print('x is {}'.format(x))
print(type(x))

x is 7
<class 'int'>

In [6]:
x = 7.0
print('x is {}'.format(x))
print(type(x))

x is 7.0
<class 'float'>

In [7]:
x = '7.0'
print('x is {}'.format(x))
print(type(x))

x is 7.0
<class 'str'>

In [8]:
x = 'seven'
print('x is {}'.format(x))
print(type(x))

x is seven
<class 'str'>

In [9]:
x = "seven"
print('x is {}'.format(x))
print(type(x))

x is seven
<class 'str'>

> You can actually make a multiline string using `'''        '''` tripple quote strings

In [11]:
x = '''
    
    six
    seven
    eight
    
    '''
print('x is {}'.format(x))
print(type(x))

x is

    six
    seven
    eight


<class 'str'>

In [12]:
x = """
    
    six
    seven
    eight
    
    """
print('x is {}'.format(x))
print(type(x))

x is

    six
    seven
    eight


<class 'str'>

> Since string is an `object` (infact everything is an object in Python), we can apply methods on string objects

In [14]:
x = 'seven'.capitalize()
print('x is {}'.format(x))
print(type(x))

x is Seven
<class 'str'>

In [15]:
x = 'seven'.upper()
print('x is {}'.format(x))
print(type(x))

x is SEVEN
<class 'str'>

In [16]:
x = 'seven'.lower()
print('x is {}'.format(x))
print(type(x))

x is seven
<class 'str'>

In [17]:
x = 'seven {} {}'.format(8, 9)
print('x is {}'.format(x))
print(type(x))

x is seven 8 9
<class 'str'>

In [18]:
x = 'seven {1} {0}'.format(8, 9)
print('x is {}'.format(x))
print(type(x))

x is seven 9 8
<class 'str'>

In [19]:
x = 'seven {1:<9} {0:>9}'.format(8, 9)
print('x is {}'.format(x))
print(type(x))

x is seven 9                 8
<class 'str'>

In [20]:
x = 'seven "{1:<9}" "{0:>9}"'.format(8, 9)
print('x is {}'.format(x))
print(type(x))

x is seven "9        " "        8"
<class 'str'>

In [21]:
x = 'seven "{1:<09}" "{0:>09}"'.format(8, 9)
print('x is {}'.format(x))
print(type(x))

x is seven "900000000" "000000008"
<class 'str'>

In [22]:
x = 'seven "{1:<09}" "{0:>09}"'.format(8, 12345)
print('x is {}'.format(x))
print(type(x))

x is seven "123450000" "000000008"
<class 'str'>

In [25]:
a = 8
b = 9
x = f'seven {a} {b}'
print(f'x is {x}')
print(type(x))

x is seven 8 9
<class 'str'>

In [26]:
x = f'seven {8} {9}'
print(f'x is {x}')
print(type(x))

x is seven 8 9
<class 'str'>

In [27]:
a = 8
b = 9
x = f'seven "{a:<09}" "{b:>09}"'
print(f'x is {x}')
print(type(x))

x is seven "800000000" "000000009"
<class 'str'>