<a href="https://colab.research.google.com/github/poduguvenu/Python-Concepts/blob/main/python_builtin_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Built-in Functions

> ## Numeric Functions

> ## `int()`

In [3]:
x = '47'
y = int(x)

print(f'x is {type(x)}')
print(f'x is {x}')
print(f'y is {type(y)}')
print(f'y is {y}')

x is <class 'str'>
x is 47
y is <class 'int'>
y is 47

> ## `float()`

In [4]:
x = '47'
y = float(x)

print(f'x is {type(x)}')
print(f'x is {x}')
print(f'y is {type(y)}')
print(f'y is {y}')

x is <class 'str'>
x is 47
y is <class 'float'>
y is 47.0

> ## `abs()`

In [5]:
x = -47
y = abs(x)

print(f'x is {type(x)}')
print(f'x is {x}')
print(f'y is {type(y)}')
print(f'y is {y}')

x is <class 'int'>
x is -47
y is <class 'int'>
y is 47

> ## `divmod()`

In [7]:
x = 47
y = divmod(x, 3)

print(f'x is {type(x)}')
print(f'x is {x}')
print(f'y is {type(y)}')
print(f'y is {y}')

x is <class 'int'>
x is 47
y is <class 'tuple'>
y is (15, 2)

> ## `complex()`

In [9]:
x = 47
y = complex(x + 73)

print(f'x is {type(x)}')
print(f'x is {x}')
print(f'y is {type(y)}')
print(f'y is {y}')

x is <class 'int'>
x is 47
y is <class 'complex'>
y is (120+0j)

>

> ## String Functions

In [12]:
s = 'Hello, World!'
print(repr(s))

'Hello, World!'

In [24]:
class bunny:
    def __init__(self, n):
        self._n = n

x = bunny(47)
print(repr(x))

<__main__.bunny object at 0x7f0d31344c10>

In [19]:
class bunny:
    def __init__(self, n):
        self._n = n
    def __repr__(self):
        return f'The number of bunnies is {self._n}'

x = bunny(47)
print(repr(x))

The number of bunnies is 47

In [20]:
class bunny:
    def __init__(self, n):
        self._n = n
    def __repr__(self):
        return f'The number of bunnies is {self._n}'

x = bunny(47)
print(x)

The number of bunnies is 47

In [25]:
class bunny:
    def __init__(self, n):
        self._n = n
    def __repr__(self):
        return f'The number of bunnies is {self._n}'
    def __str__(self):
        return f'the number of bunnies is {self._n}'

x = bunny(47)
print(x)

the number of bunnies is 47

In [26]:
class bunny:
    def __init__(self, n):
        self._n = n
    def __repr__(self):
        return f'repr: The number of bunnies is {self._n}'
    def __str__(self):
        return f'str: the number of bunnies is {self._n}'

x = bunny(47)
print(x)

str: the number of bunnies is 47

In [27]:
class bunny:
    def __init__(self, n):
        self._n = n
    def __repr__(self):
        return f'repr: The number of bunnies is {self._n}'
    def __str__(self):
        return f'str: the number of bunnies is {self._n}'

x = bunny(47)
print(repr(x))

repr: The number of bunnies is 47

In [28]:
class bunny:
    def __init__(self, n):
        self._n = n
    def __repr__(self):
        return f'repr: The number of bunnies is {self._n}'
    def __str__(self):
        return f'str: the number of bunnies is {self._n}'

x = bunny(47)
print(chr(128406))

ðŸ––

In [29]:
class bunny:
    def __init__(self, n):
        self._n = n
    def __repr__(self):
        return f'repr: The number of bunnies is {self._n}'
    def __str__(self):
        return f'str: the number of bunnies is {self._n}'

x = bunny(47)
print(ord('ðŸ––'))
print(chr(128406))

128406
ðŸ––

> ## Container Functions

In [32]:
x = (1, 2, 3, 4, 5)
y = x
print(x)
print(y)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
139694636823184
139694636823184

> ## `len()`

In [33]:
x = (1, 2, 3, 4, 5)
y = len(x)
print(x)
print(y)

(1, 2, 3, 4, 5)
5

> ## `reversed()`

In [36]:
x = (1, 2, 3, 4, 5)
y = list(reversed(x))
print(x)
print(y)

(1, 2, 3, 4, 5)
[5, 4, 3, 2, 1]

> ## `sum()`

In [37]:
x = (1, 2, 3, 4, 5)
y = sum(x)
print(x)
print(y)

(1, 2, 3, 4, 5)
15

In [38]:
x = (1, 2, 3, 4, 5)
y = sum(x, 10)
print(x)
print(y)

(1, 2, 3, 4, 5)
25

> ## `max()`

In [39]:
x = (1, 2, 3, 4, 5)
y = max(x)
print(x)
print(y)

(1, 2, 3, 4, 5)
5

> ## `min()`

In [40]:
x = (1, 2, 3, 4, 5)
y = min(x)
print(x)
print(y)

(1, 2, 3, 4, 5)
1

> ## `any()`

In [41]:
x = (1, 2, 3, 4, 5)
y = any(x)
print(x)
print(y)

(1, 2, 3, 4, 5)
True

In [42]:
x = (0, 0, 0, 0, 0)
y = any(x)
print(x)
print(y)

(0, 0, 0, 0, 0)
False

> ## `all()`

In [43]:
x = (1, 2, 3, 4, 5)
y = all(x)
print(x)
print(y)

(1, 2, 3, 4, 5)
True

In [45]:
x = (1, 2, 3, 4, 0)
y = all(x)
print(x)
print(y)

(1, 2, 3, 4, 0)
False

> ## `zip()`

In [46]:
x = (1, 2, 3, 4, 5)
y = (6, 7, 8, 9, 10)
z = zip(x, y)
for a, b in z:
    print(f'{a} - {b}')

1 - 6
2 - 7
3 - 8
4 - 9
5 - 10

> ## `enumerate()`

In [47]:
x = ('cat', 'dog', 'rabbit', 'velociraptor')
for i, v in enumerate(x):
    print(f'{i}: {v}')

0: cat
1: dog
2: rabbit
3: velociraptor

> ## Object and Class Functions

In [48]:
x = 42
y = type(x)
print(x)
print(y)

42
<class 'int'>

> ## `isinstance()`

In [50]:
x = 42
y = isinstance(x, int)
print(x)
print(y)

42
True

> ## `id()`

In [51]:
x = 42
y = id(x)
print(x)
print(y)

42
94467539124000