<a href="https://colab.research.google.com/github/poduguvenu/Python-Concepts/blob/main/python_sequence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sequence - Working & Facts
Python provides some inbuilt sequence types including `Lists`, `Tuples` and `Dictionaries`

> ## Lists
Lists are mutable sequences

In [5]:
x = [1, 2, 3, 4, 5]
for i in x:
    print(f'i is {i}')

i is 1
i is 2
i is 3
i is 4
i is 5

In [8]:
x = [1, 2, 3, 4, 5]
x[2] = 42
for i in x:
    print(f'i is {i}')

i is 1
i is 2
i is 42
i is 4
i is 5

> ## Tuples
Tuples are immutable sequences

In [9]:
x = (1, 2, 3, 4, 5)
for i in x:
    print(f'i is {i}')

i is 1
i is 2
i is 3
i is 4
i is 5

In [10]:
x = (1, 2, 3, 4, 5)
x[2] = 42
for i in x:
    print(f'i is {i}')

TypeError: ignored

> ## Range
Range is an immutable sequence

In [11]:
x = range(5)
for i in x:
    print(f'i is {i}')

i is 0
i is 1
i is 2
i is 3
i is 4

In [12]:
x = range(5, 50, 5)
for i in x:
    print(f'i is {i}')

i is 5
i is 10
i is 15
i is 20
i is 25
i is 30
i is 35
i is 40
i is 45

> Range is an immutable sequence

In [13]:
x = range(5, 50, 5)
x[2] = 42
for i in x:
    print(f'i is {i}')

TypeError: ignored

In [14]:
x = list(range(5, 50, 5))
x[2] = 42
for i in x:
    print(f'i is {i}')

i is 5
i is 10
i is 42
i is 20
i is 25
i is 30
i is 35
i is 40
i is 45

> ## Dictionary
A dictionary is a searchable sequence of key-value pairs

In [15]:
x = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
for i in x:
    print(f'i is {i}')

i is one
i is two
i is three
i is four
i is five

In [16]:
x = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
for k, v in x.items():
    print(f'key: {k}, value: {v}')

key: one, value: 1
key: two, value: 2
key: three, value: 3
key: four, value: 4
key: five, value: 5

> Dictionaries are mutable

In [17]:
x = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
x['three'] = 42
for k, v in x.items():
    print(f'key: {k}, value: {v}')

key: one, value: 1
key: two, value: 2
key: three, value: 42
key: four, value: 4
key: five, value: 5