<a href="https://colab.research.google.com/github/poduguvenu/Python-Concepts/blob/main/python_typeof_idof.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python `type()` & `id()` - working & facts

In [5]:
x = (1, 2, 3, 4, 5)
print(f'x is {x}')
print(type(x))

x is (1, 2, 3, 4, 5)
<class 'tuple'>

In [6]:
x = (1, 'two', 3.0, [4, 'four'], 5)
print(f'x is {x}')
print(type(x))

x is (1, 'two', 3.0, [4, 'four'], 5)
<class 'tuple'>

In [7]:
x = (1, 'two', 3.0, [4, 'four'], 5)
print(f'x is {x}')
print(type(x[1]))

x is (1, 'two', 3.0, [4, 'four'], 5)
<class 'str'>

In [8]:
x = (1, 'two', 3.0, [4, 'four'], 5)
y = (1, 'two', 3.0, [4, 'four'], 5)
print(f'x is {x}')
print(type(x))
print(type(y))

x is (1, 'two', 3.0, [4, 'four'], 5)
<class 'tuple'>
<class 'tuple'>

> Even though x and y has the same values their ids are different. x and y are two different(unique) objects

In [9]:
x = (1, 'two', 3.0, [4, 'four'], 5)
y = (1, 'two', 3.0, [4, 'four'], 5)
print(f'x is {x}')
print(id(x))
print(id(y))

x is (1, 'two', 3.0, [4, 'four'], 5)
140352543696368
140352614668048

> But the data inside the objects refer to the same ids

In [10]:
x = (1, 'two', 3.0, [4, 'four'], 5)
y = (1, 'two', 3.0, [4, 'four'], 5)
print(f'x is {x}')
print(id(x[0]))
print(id(y[0]))

x is (1, 'two', 3.0, [4, 'four'], 5)
94275963369984
94275963369984

In [17]:
x = (1, 'two', 3.0, [4, 'four'], 5)
y = (1, 'two', 3.0, [4, 'four'], 5)
print(f'x is {x}')
print(id(x))
print(id(y))

if type(x) == 'tuple':
    print('Yep')
else:
    print('Nope')

x is (1, 'two', 3.0, [4, 'four'], 5)
140352543697328
140352579752400
Nope

In [19]:
x = (1, 'two', 3.0, [4, 'four'], 5)
y = (1, 'two', 3.0, [4, 'four'], 5)
print(f'x is {x}')

if isinstance(x, tuple):
    print('Yep')
else:
    print('Nope')

x is (1, 'two', 3.0, [4, 'four'], 5)
Yep

In [21]:
x = (1, 'two', 3.0, [4, 'four'], 5)
y = [1, 'two', 3.0, [4, 'four'], 5]
print(f'x is {x}')

if isinstance(y, tuple):
    print('Tuple')
elif isinstance(y, list):
    print('List')
else:
    print('Something else')

x is (1, 'two', 3.0, [4, 'four'], 5)
List