<a href="https://colab.research.google.com/github/poduguvenu/Python-Concepts/blob/main/tuple_and_set_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('tuple-and-set-in-python')
jovian.set_colab_id('1AcQ0aCVS3S0IAjyWgwWOr7x8L6e-_bum')

     |████████████████████████████████| 68 kB 2.3 MB/s
  Building wheel for uuid (setup.py) ... done

# Tuple and Set in Python

In [2]:
!pip install jovian --upgrade --quiet

In [3]:
import jovian

In [4]:
# Execute this to save new versions of the notebook
jovian.commit(project="tuple-and-set-in-python")

[jovian] Detected Colab notebook...
[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ··········
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/poduguvenu/tuple-and-set-in-python

'https://jovian.ai/poduguvenu/tuple-and-set-in-python'



> ## Tuple
**Tuple** is similar to **List** but immutable. Since the tuple is immutable the iterations are faster than the list

In [5]:
tup = (21, 36, 14, 25)
tup

(21, 36, 14, 25)

> Just like **Lists**, we can also access the elements from the **Tuple**

In [6]:
tup[1]

36

> Since the **Tuple** is immutable we can not assign the values

In [7]:
tup[1] = 33

TypeError: ignored

> Since the **Tuple** is immutable, we have a very few methods that we can apply on tuple

> `.count()` method is used to count the number of times an element is occured in the tuple

In [10]:
tup.count(21)

1

> `.index()` method returns the indices of the specified elements of the tuple

In [11]:
tup.index(14)

2

> ## Set
Set is a collection of unique elements. Set never follows a sequence. Dew to this property, indexing is not supported by the set

In [12]:
s = {22, 25, 14, 21, 5}
s

{5, 14, 21, 22, 25}

In [13]:
s = {25, 14, 98, 63, 75, 98}
s

{14, 25, 63, 75, 98}

> Like list, we have a lot of methods that we can apply on set

In [14]:
s.add(5)

In [15]:
s

{5, 14, 25, 63, 75, 98}

In [17]:
s.pop()
s

{5, 14, 25, 63, 75}

In [18]:
min(s)

5

In [19]:
max(s)

75

In [20]:
sum(s)

182

> How to delete the values from a list?

In [21]:
nums = [25, 36, 95, 14, 12, 26]
del nums[2 : 5]
nums

[25, 36, 26]

In [22]:
jovian.commit(project="tuple-and-set-in-python")

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/poduguvenu/tuple-and-set-in-python

'https://jovian.ai/poduguvenu/tuple-and-set-in-python'