# Parsing JSON file using sqlite3

In [1]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data_sample.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0]
    title = entry[1]

    print((name, title))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id) VALUES ( ?, ? )''',
        ( user_id, course_id ) )

    conn.commit()

Enter file name: roster_data_sample.json
('Charley', 'si110')
('Mea', 'si110')
('Hattie', 'si110')
('Lyena', 'si110')
('Keziah', 'si110')
('Ellyce', 'si110')
('Thalia', 'si110')
('Meabh', 'si110')
('Aria', 'si110')
('Reena', 'si110')
('Ioannis', 'si110')
('Reily', 'si110')
('Sidharth', 'si110')
('Keiara', 'si110')
('Yann', 'si110')
('Marykate', 'si110')
('Dylan', 'si110')
('Kiran', 'si110')
('Faizaan', 'si110')
('Aneshia', 'si110')
('Kamron', 'si110')
('Allen', 'si110')
('Marshall', 'si110')
('Rosa', 'si106')
('Nora', 'si106')
('Mairin', 'si106')
('Zendel', 'si106')
('Honie', 'si106')
('Betsy', 'si106')
('Davie', 'si106')
('Larissa', 'si106')
('Shaurya', 'si106')
('Shania', 'si106')
('Sorcha', 'si106')
('Jeanna', 'si106')
('Temba', 'si106')
('Buse', 'si106')
('Mohammed', 'si106')
('Kayah', 'si106')
('Kareena', 'si106')
('Dineo', 'si106')
('Philippa', 'si106')
('Lia', 'si206')
('Sharlyn', 'si206')
('Linton', 'si206')
('Temilade', 'si206')
('Areez', 'si206')
('MacCartney', 'si206')
('Abubakar', 'si206')
('Derryn', 'si206')
('Elan', 'si206')
('Vikki', 'si206')
('Anisa', 'si206')
('Klevis', 'si206')
('Tait', 'si206')
('Rhea', 'si206')
('Pearsen', 'si206')
('Willow', 'si206')
('Skye', 'si206')
('Caralee', 'si206')
('Charlee', 'si206')
('Karyn', 'si206')
('Elana', 'si206')
('Maggie', 'si206')
('Eryk', 'si206')
('Zulaikha', 'si301')
('Elshan', 'si301')
('Anastasia', 'si301')
('Connar', 'si301')
('Anay', 'si301')
('Jayla', 'si301')
('Cai', 'si301')
('Zijie', 'si301')
('Riana', 'si301')
('Codie', 'si301')
('Colette', 'si301')
('Lucee', 'si301')
('Tatiana', 'si301')
('Zhong', 'si301')
('Lowri', 'si301')
('Maggy', 'si301')
('Basher', 'si301')
('Tanika', 'si301')
('Aria', 'si301')
('Belle', 'si301')
('Laranya', 'si301')
('Dayna', 'si301')
('Elleanne', 'si301')
('Maanav', 'si310')
('Tamta', 'si310')
('Frazer', 'si310')
('Sacha', 'si310')
('Aidan', 'si310')
('Abel', 'si310')
('Ahtasham', 'si310')
('Avinash', 'si310')
('Colette', 'si310')
('Cohen', 'si310')
('Rori', 'si310')
('Youer', 'si310')
('Jamey', 'si310')
('Makenzie', 'si310')
('Ida', 'si310')
('Alexzander', 'si310')
('Kavita', 'si310')
('Talia', 'si310')
('Anthony', 'si310')
('Elona', 'si334')
('Inan', 'si334')
('Caoilainn', 'si334')
('Ainsley', 'si334')
('Franciszek', 'si334')
('Corrie', 'si334')
('Nolan', 'si334')
('Makala', 'si334')
('Obieluem', 'si334')
('Camryn', 'si334')
('Honie', 'si334')
('Ole', 'si334')
('Raine', 'si334')
('Tyllor', 'si334')
('Diane', 'si334')
('Cullen', 'si334')
('Taylor', 'si334')
('Schekina', 'si334')
('Kensey', 'si334')
('Zhi', 'si334')
('Kiran', 'si334')
('Tymoteusz', 'si334')
('Windsor', 'si363')
('Kashish', 'si363')
('Diarmid', 'si363')
('Laura', 'si363')
('Jaskaran', 'si363')
('Presley', 'si363')
('Brooklynn', 'si363')
('Heddle', 'si363')
('Travis', 'si363')
('Alx', 'si363')
('Airen', 'si363')
('Erika', 'si363')
('Mackie', 'si363')
('Wen', 'si363')
('Seaan', 'si363')
('Meghan', 'si363')
('Ryaan', 'si363')
('Imogem', 'si364')
('Harlie', 'si364')
('Ronnie', 'si364')
('Lucca', 'si364')
('Shanelle', 'si364')
('Ieuan', 'si364')
('Anneliese', 'si364')
('Simon', 'si364')
('Sorche', 'si364')
('Nawal', 'si364')
('Adelaide', 'si364')
('Rhia', 'si364')
('Katarzyna', 'si364')
('LLeyton', 'si364')
('Enzo', 'si364')
('Declan', 'si364')
('Emelie', 'si364')
('Baillie', 'si364')
('Shola', 'si364')
('Jenna', 'si422')
('Miles', 'si422')
('Sakina', 'si422')
('Melanie', 'si422')
('Bailie', 'si422')
('Cassy', 'si422')
('Nikash', 'si422')
('Hebe', 'si422')
('Sia', 'si422')
('Skyla', 'si422')
('Jamaal', 'si422')
('Keanna', 'si422')
('Vanya', 'si422')
('Temperance', 'si422')
('Hafiza', 'si422')
('Alx', 'si422')
('Brigitte', 'si422')
('Eliana', 'si422')
('Kayden', 'si422')
('Man', 'si422')
('Jaydyn', 'si422')
('Soukina', 'si430')
('Stephenjunior', 'si430')
('Buddy', 'si430')
('Holly', 'si430')
('Kamilia', 'si430')
('Cassie', 'si430')
('Kris', 'si430')
('Maia', 'si430')
('Abel', 'si430')
('Tamika', 'si430')
('Deano', 'si430')
('Rosa', 'si430')
('Georgia', 'si430')
('Louie', 'si430')
('Kassie', 'si430')
('Mutinta', 'si430')
('Manwen', 'si430')

In [2]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0]
    title = entry[1]
    role = entry[2]

    print((name, title, role))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id, role) VALUES ( ?, ?, ? )''',
        ( user_id, course_id, role ) )

    conn.commit()

Enter file name: roster_data.json
('Shayaan', 'si110', 1)
('Hcen', 'si110', 0)
('Kira', 'si110', 0)
('Suraj', 'si110', 0)
('Priya', 'si110', 0)
('Ayah', 'si110', 0)
('Julien', 'si110', 0)
('Lilyana', 'si110', 0)
('Jeronimo', 'si110', 0)
('Roxy', 'si110', 0)
('Gemma', 'si110', 0)
('Adenn', 'si110', 0)
('Kamilia', 'si110', 0)
('Pranav', 'si110', 0)
('Muryam', 'si110', 0)
('Colby', 'si110', 0)
('Tyler', 'si110', 0)
('Etain', 'si110', 0)
('Akan', 'si110', 0)
('Ruairidh', 'si110', 0)
('Brehme', 'si110', 0)
('Hubert', 'si110', 0)
('Athol', 'si110', 0)
('Sheridan', 'si110', 0)
('Keira', 'si110', 0)
('Qasim', 'si110', 0)
('Cadhla', 'si110', 0)
('Jools', 'si110', 0)
('Ruby', 'si110', 0)
('Adonica', 'si110', 0)
('Genevieve', 'si110', 0)
('Kalen', 'si110', 0)
('Susanne', 'si110', 0)
('Tamzyn', 'si110', 0)
('Jordon', 'si110', 0)
('Seumas', 'si110', 0)
('Eireann', 'si110', 0)
('Chris', 'si110', 0)
('Natane', 'si110', 0)
('Kendall', 'si110', 0)
('Peige', 'si110', 0)
('Katarina', 'si110', 0)
('Cristian', 'si110', 0)
('Chanelle', 'si110', 0)
('Mea', 'si110', 0)
('Kasey', 'si106', 1)
('Letizia', 'si106', 0)
('Rasmus', 'si106', 0)
('Rhoan', 'si106', 0)
('Taylan', 'si106', 0)
('Tanisha', 'si106', 0)
('Issiaka', 'si106', 0)
('Tamiem', 'si106', 0)
('Kristofer', 'si106', 0)
('Komal', 'si106', 0)
('Maeya', 'si106', 0)
('Enzo', 'si106', 0)
('Josephina', 'si106', 0)
('Colin', 'si106', 0)
('Nayan', 'si106', 0)
('McKay', 'si106', 0)
('Lysander', 'si106', 0)
('Orran', 'si106', 0)
('Ferre', 'si106', 0)
('Daren', 'si106', 0)
('Wiktoria', 'si106', 0)
('Jared', 'si106', 0)
('Sainabou', 'si106', 0)
('Conghaile', 'si106', 0)
('Abid', 'si106', 0)
('Nialla', 'si106', 0)
('Akram', 'si106', 0)
('Cait', 'si106', 0)
('Carlee', 'si106', 0)
('Kainin', 'si106', 0)
('Aymal', 'si206', 1)
('Ayda', 'si206', 0)
('Azaan', 'si206', 0)
('Mariana', 'si206', 0)
('Cayla', 'si206', 0)
('Stefin', 'si206', 0)
('Iana', 'si206', 0)
('Pauline', 'si206', 0)
('Ben', 'si206', 0)
('Emelie', 'si206', 0)
('Kdi', 'si206', 0)
('Kelan', 'si206', 0)
('Milli', 'si206', 0)
('Kenlin', 'si206', 0)
('Keir', 'si206', 0)
('Danielle', 'si206', 0)
('Broghan', 'si206', 0)
('Harper', 'si206', 0)
('Lizzie', 'si206', 0)
('Noelani', 'si206', 0)
('Roxie', 'si206', 0)
('Rokas', 'si206', 0)
('Blair', 'si206', 0)
('Mhairi', 'si206', 0)
('Rhett', 'si206', 0)
('Sahbian', 'si301', 1)
('Maizie', 'si301', 0)
('Alvern', 'si301', 0)
('Hayleigh', 'si301', 0)
('Levon', 'si301', 0)
('Hasini', 'si301', 0)
('Sayf', 'si301', 0)
('Craig', 'si301', 0)
('Shafira', 'si301', 0)
('Elana', 'si301', 0)
('Nyah', 'si301', 0)
('Saiorse', 'si301', 0)
('Calen', 'si301', 0)
('Jenah', 'si301', 0)
('Peebles', 'si301', 0)
('Bethlin', 'si301', 0)
('Modu', 'si301', 0)
('Rihana', 'si301', 0)
('Archibald', 'si301', 0)
('Aqsa', 'si310', 1)
('Nikhil', 'si310', 0)
('Willum', 'si310', 0)
('Zuzu', 'si310', 0)
('Light', 'si310', 0)
('Sanjana', 'si310', 0)
('Alexx', 'si310', 0)
('Celine', 'si310', 0)
('Essa', 'si310', 0)
('Arooba', 'si310', 0)
('Harikrishna', 'si310', 0)
('Jadyn', 'si310', 0)
('Diella', 'si310', 0)
('Salman', 'si310', 0)
('Ayomide', 'si310', 0)
('Rzan', 'si310', 0)
('Nawel', 'si310', 0)
('Elita', 'si310', 0)
('Neha', 'si310', 0)
('Darach', 'si310', 0)
('Nate', 'si334', 1)
('Kahlan', 'si334', 0)
('Glascott', 'si334', 0)
('Conrad', 'si334', 0)
('Emile', 'si334', 0)
('Liza', 'si334', 0)
('Cailyne', 'si334', 0)
('Lorraine', 'si334', 0)
('Rebecka', 'si334', 0)
('Brendyn', 'si334', 0)
('Arann', 'si334', 0)
('Kacee', 'si334', 0)
('Sidney', 'si334', 0)
('Lennex', 'si334', 0)
('Muqadaas', 'si334', 0)
('Colton', 'si334', 0)
('Arfin', 'si334', 0)
('Alexx', 'si334', 0)
('Mitch', 'si334', 0)
('Ailin', 'si334', 0)
('Faye', 'si334', 0)
('Annica', 'si363', 1)
('Casie', 'si363', 0)
('Maca', 'si363', 0)
('Arian', 'si363', 0)
('Fawaz', 'si363', 0)
('Jai', 'si363', 0)
('Abdur', 'si363', 0)
('Hadjar', 'si363', 0)
('Coll', 'si363', 0)
('Elysa', 'si363', 0)
('Armen', 'si363', 0)
('Cuillin', 'si363', 0)
('Mahek', 'si363', 0)
('Lawrie', 'si363', 0)
('Harvinder', 'si363', 0)
('Tania', 'si363', 0)
('Ahoua', 'si363', 0)
('Kaleb', 'si363', 0)
('Hamna', 'si363', 0)
('Raine', 'si363', 0)
('Reagan', 'si363', 0)
('Rovia', 'si363', 0)
('Iana', 'si363', 0)
('Morran', 'si363', 0)
('Caelyn', 'si363', 0)
('Maanav', 'si363', 0)
('Fiachra', 'si363', 0)
('Anjali', 'si363', 0)
('Bendeguz', 'si363', 0)
('Rayann', 'si363', 0)
('Kerryanne', 'si363', 0)
('Chin', 'si363', 0)
('Ralfs', 'si364', 1)
('Hareem', 'si364', 0)
('Siddharth', 'si364', 0)
('Kelso', 'si364', 0)
('Richie', 'si364', 0)
('Niah', 'si364', 0)
('Mika', 'si364', 0)
('Bronwen', 'si364', 0)
('Winnifred', 'si364', 0)
('Ziya', 'si364', 0)
('Piper', 'si364', 0)
('Molly', 'si364', 0)
('Elouise', 'si364', 0)
('Liam', 'si364', 0)
('Nana', 'si364', 0)
('Rian', 'si364', 0)
('Ibrahim', 'si364', 0)
('Brendan', 'si364', 0)
('Anna', 'si364', 0)
('Thea', 'si364', 0)
('Jessamea', 'si364', 0)
('Damien', 'si364', 0)
('Honeyjac', 'si364', 0)
('Shauntel', 'si364', 0)
('Atli', 'si364', 0)
('Chardonnay', 'si364', 0)
('Demilee', 'si364', 0)
('Aiden', 'si364', 0)
('Benjamyn', 'si364', 0)
('Kaelan', 'si364', 0)
('Kassia', 'si364', 0)
('Hadji', 'si364', 0)
('Yazmin', 'si422', 1)
('Marley', 'si422', 0)
('Kash', 'si422', 0)
('Bodhan', 'si422', 0)
('Ryhanna', 'si422', 0)
('Brogan', 'si422', 0)
('Aleem', 'si422', 0)
('Rosslyn', 'si422', 0)
('Saffi', 'si422', 0)
('Pablo', 'si422', 0)
('Sakina', 'si422', 0)
('Jingyi', 'si422', 0)
('Danny', 'si422', 0)
('Halyda', 'si422', 0)
('Jedidiah', 'si422', 0)
('Saifaddine', 'si422', 0)
('Judah', 'si422', 0)
('Taira', 'si422', 0)
('Elyce', 'si422', 0)
('Samatar', 'si422', 0)
('Kariss', 'si422', 0)
('Ediomi', 'si422', 0)
('Justine', 'si422', 0)
('Aymie', 'si422', 0)
('Porter', 'si422', 0)
('Haider', 'si422', 0)
('Karine', 'si422', 0)
('Maxx', 'si422', 0)
('Shona', 'si422', 0)
('Nadisa', 'si422', 0)
('Fendi', 'si422', 0)
('Micah', 'si422', 0)
('Teighen', 'si422', 0)
('Zakariya', 'si422', 0)
('Alieu', 'si422', 0)
('Heddle', 'si422', 0)
('Jazib', 'si422', 0)
('Veronica', 'si422', 0)
('Abia', 'si422', 0)
('Malia', 'si422', 0)
('Daneesa', 'si422', 0)
('Jordan', 'si422', 0)
('Rylie', 'si422', 0)
('Coralie', 'si422', 0)
('Laurence', 'si422', 0)
('Oscar', 'si422', 0)
('Vinay', 'si422', 0)
('Lola', 'si422', 0)
('Chenai', 'si422', 0)
('Anika', 'si430', 1)
('Karishma', 'si430', 0)
('Cate', 'si430', 0)
('Miles', 'si430', 0)
('Brodi', 'si430', 0)
('Gillian', 'si430', 0)
('Kareena', 'si430', 0)
('Regan', 'si430', 0)
('Nathanial', 'si430', 0)
('Pele', 'si430', 0)
('Aiadan', 'si430', 0)
('Yishuka', 'si430', 0)
('Conlan', 'si430', 0)
('Gareth', 'si430', 0)
('Rohin', 'si430', 0)
('CJ', 'si430', 0)
('Sherwyn', 'si430', 0)
('Brogan', 'si430', 0)
('Kahlya', 'si430', 0)
('Martha', 'si430', 0)
('Mariesha', 'si430', 0)
('Laiyah', 'si430', 0)
('Hajirah', 'si430', 0)
('Corrina', 'si430', 0)
('Calley', 'si430', 0)
('Conlly', 'si430', 0)
('Aleksandar', 'si430', 0)
('Dolan', 'si430', 0)
('Sadiyah', 'si430', 0)
('Ally', 'si430', 0)
('Kaytie', 'si430', 0)
('Yong', 'si430', 0)
('Penelope', 'si430', 0)
('Thorben', 'si430', 0)
('Raees', 'si430', 0)
('Urban', 'si430', 0)
('Baillie', 'si430', 0)

In [3]:
sqlstr = '''
    SELECT User.name,Course.title, Member.role FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY User.name DESC, Course.title DESC, Member.role DESC LIMIT 2;
'''

for row in cur.execute(sqlstr):
    print(str(row[0]), str(row[1]), row[2])

Zuzu si310 0
Ziya si364 0

In [4]:
sqlstr = '''
    SELECT 'XYZZY' || hex(User.name || Course.title || Member.role ) AS X FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY X LIMIT 1;
'''

for row in cur.execute(sqlstr):
    print(str(row[0]))

XYZZY4162647572736933363330